.nav-drop-option:hover{
    cursor: pointer;
    background-color: rgba(222,223,224,0.6);
}

.intern-nav-photo{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 2px solid #001;
}

.profile-pic-menu{
    width: 180px;
    display: flex;
    flex-direction: column;
    padding:0.5em;
}

.header {
    background-color: #F3F3F3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.cdropdown .link{
    color: black;
    font-weight: bold;
}

.cdropdown.active > .link,
.link:hover {
    color: black;
}

.cdropdown {
    position: relative;
}

.cdropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    z-index: 2;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.cdropdown.active > .link + .cdropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.cdropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


nav{
    background-image: url("background.svg");
}