.internshipMenuContent{
    background-color: #f8ad52;
    border-radius: 0.5em;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 16px;
    transition: box-shadow 0.3s ease;
}

.menuTitle{
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

.menuLink, .menuLink:hover{
    text-decoration: none;
    color: #1a1b1f;
}