.login-body{
    display: flex;
    height: 100vh;
}

.forgot-password{
    margin-top: 1.5em;
}

.login-content{
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f7f7;
    padding-left: 5em;
    padding-right: 5em;
}

.login-aside{
    background: url("../images/supervisor_login_aside.png");
    width: 100%;
    height: 100vh;
}

.create-account{
    margin-bottom: 24px;
    min-height: 32px;
    margin-top: 1.5em;
    color: #ffddee;
    font-size: 16px;
    letter-spacing: .01em;
    background-color: #050f11;
    width: 100%;
    padding: 5px 16px;
    height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background .2s,-webkit-transform .1s,transform .1s;
    vertical-align: middle;
}

a:hover{
    text-decoration: none;
    color: #ffefef;
}

input{
    align-items: center;
    background: #0d0f12;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 2px;
    color: rgba(250, 249, 249, 0.9);
    display: flex;
    font-weight: 400;
    height: 40px;
    min-width: 270px;
    padding: 8px 16px;
    position: relative;
    width: 100%;
}

.signin-btn{
    margin-top: 1.5em;
    font-size: 16px;
    letter-spacing: .01em;
    background-color: #0074ab;
    width: 100%;
    padding: 5px 16px;
    height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background .2s,-webkit-transform .1s,transform .1s;
    vertical-align: middle;
}

.or{
    margin-top: 1.5em;
    width: 100%;
}

.bar {
    flex: auto;
    border: none;
    height: 2px;
    background-color: hsla(0, 15%, 87%, 0.15);
}

label{
    display: block;
    color: #ede;
    font-weight: normal;
    margin-top: 1em;
}

.footer{
    color: hsla(0,0%,100%,.7);
    font-size: 0.7rem;
}