* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
}

.nkabom-logo {
    height: 2.5rem;
}

.nav-about {
    background-color: #ffe;/*#989898;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: .5rem 1rem
}

.brand {
    display: inline;
    padding: 0.5em;
}

.navbar-links-block {
    display: inline;
}

.navbar-links {
    list-style: none;
    display: flex;
   /* margin-bottom: 1em;*/
}

.navbar-links li {
    display: inline;
    margin-right: 2em;
}
.nav-about .navbar-links li a{
    text-decoration:none;
    color: #000;
}


.section-identifier {
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
    text-align: center;
    text-decoration-thickness: 2px;
    text-transform: capitalize;
    font-weight: 500;
}

@media (max-width: 576px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {

    .navbar-links-block {
        display: none;
    }

    .partners .logo-slide {
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    .nav-toggler {
        display: none;
    }

    .navbar-links-block {
        display: inline;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}

