
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
}

.nkabom-logo {
    height: 2.5rem;
}

.nav-about {
    background-color: #ffe;/*#989898;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: .5rem 1rem
}

.brand {
    display: inline;
    padding: 0.5em;
}

.navbar-links-block {
    display: inline;
}

.navbar-links {
    list-style: none;
    display: flex;
   /* margin-bottom: 1em;*/
}

.navbar-links li {
    display: inline;
    margin-right: 2em;
}
.nav-about .navbar-links li a{
    text-decoration:none;
    color: #000;
}


.section-identifier {
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
    text-align: center;
    text-decoration-thickness: 2px;
    text-transform: capitalize;
    font-weight: 500;
}
.general-header{
    font-weight: bold;
}
.vision-image,.mission-image{
    max-width: 7em;
}

.mission-block,.vision-block{
    margin-top: 2em;
}

article .mission-header,article .vision-header {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1em;
    background-color: #fed;
}
.mission-icon{
    grid-row: 2;
    grid-column: 2 / span 1;
    background-color: #61dafb;
}



.partner-logo {
    position: relative;
    width: 10em;
}

.partners .logo-slide {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.partners .slide {
    display: inline;
}

.partner-description .container .accordion{
    margin-top: 1em;
    border: 2px solid black;
}

.partner-description{
    background-color: rgba(236, 217, 236, 0.3);
    padding-bottom: 3em;
    padding-top: 3em;
}

.social-icons{
    margin:2em 0.5em;
}
.social-icons:hover{
    fill: #eeddee;
}

footer{
    background-color: #000;
    padding:3rem;
}
.partner-institutions-list{
    list-style: none;
}
.partner-institutions-list li{
    font-size: 0.9rem;
}
.partner-institutions-header{
    font-size: 1rem;
    margin-top: 2em;
}
.news-letter-block{
    display: flex;
}
.news-letter-block input{
    background-color: #1a1b1f;
    border: 1px solid #605c5c;
    color: #a99e9e;
    padding: 0.1em;
}
.news-letter-block .submit-letter{
    border-radius: 20px;
    padding: 0.2em 1.2em;
    border: 1px solid #605c5c;
    background-color: #000;
    color: #8a8484;
}

.new-read-more{
    font-weight: bold;
}



.slider {
    width: 100%;
}

.slider img {
    max-width: 100%;
    height: auto;
}

.slider h3 {
    margin-top: 10px;
}

.slider p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.slider {
    width: 100%;
}

.slick-slide {
    padding: 0 10px;
}

.supervisor {
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #f90;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.supervisor h5,.supervisor p{
    margin: 0 auto;
}
.supervisor .info{
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.assistants-block{
    display: flex;
    padding: 1em 0;
}
.assistant {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1em 0;
}


.assistant-image {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.assistant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.info {
    flex: 1 1 auto;
    text-align: left;
}

h3, p {
    margin: 0;
}

.slick-prev::before, .slick-next::before{
    color: black !important;
}
.supervisors{
    box-sizing: border-box;
}

@media (max-width: 576px) {

    .image img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .navbar-links-block {
        display: none;
    }

    .column-1, .column-2, .column-3, .column-4.column-5, .column-6, .column-7, .column-8, .column-9, .column-10.column-11, .column-12 {
        width: 100%;
    }

    .partners .logo-slide {
        flex-direction: column;
        align-items: center;
    }

    .logo-slide .slide .partner-logo {
        width: 90%;
    }

    .vision-image,.mission-image{
       display: none;
    }
    .slider{
        width: 90%;
        margin:0 auto;
    }

   .assistants-block{
       flex-direction: column;
   }
}

@media (min-width: 576px) {


    .navbar-links-block {
        display: none;
    }

    .partners .logo-slide {
        flex-direction: column;
        align-items: center;
    }

    .logo-slide .slide .partner-logo {
        width: 90%;
    }

    .coffee-plantation {
        width: 95%;
    }
}


@media (min-width: 768px) {

    .navbar-links-block {
        display: none;
    }

    .partners .logo-slide {
        flex-direction: row;
    }
}


@media (min-width: 992px) {
    .nav-toggler {
        display: none;
    }

    .navbar-links-block {
        display: inline;
    }
}


@media (min-width: 1200px) {
}


@media (min-width: 1400px) {
}

